[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
mypy = "*"
pytest-sugar = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
codecov = "*"
bs4 = "*"

[packages]
sqlalchemy = "*"
feedgen = "*"
flask = "*"
raven = "*"
attrdict = "*"
flask-sqlalchemy =  "*"
flask-login = "*"
flask-caching =  "*"
autorepr =  "*"
beautifulsoup4 = "*"
pyjwt = "*"
blinker = "*"
pymysql = "*"
gunicorn = "*"
gevent = "*"
sentry-sdk ="*"
pip = "*"
pytz = "*"
boto3 = "*"
jinja2 = "==3.0.3"
lxml = "==4.6.5"

[requires]
python_version = "3.8"
