[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"
mypy = "*"
pytest-sugar = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
codecov = "*"
bs4 = "*"

[packages]
sqlalchemy = "==1.3.8"
feedgen = "==0.6.1"
flask = "==1.1.1"
raven = "==6.7.0"
attrdict = "==2.0.0"
flask-sqlalchemy = "==2.3.2"
flask-login = "==0.4.1"
flask-caching = "==1.4.0"
autorepr = "==0.3.0"
beautifulsoup4 = "==4.6.0"
pyjwt = "==1.6.4"
blinker = "==1.4"
pymysql = "==0.9.3"
gunicorn = "==19.9.0"
gevent = "==1.3.6"
sentry-sdk ="==0.9.1"
pip = "*"

[requires]
python_version = "3.7"
