-i https://pypi.org/simple
attrdict==2.0.0
autorepr==0.3.0
beautifulsoup4==4.6.0
blinker==1.4
certifi==2019.9.11
click==7.0
feedgen==0.6.1
flask-caching==1.4.0
flask-login==0.4.1
flask-sqlalchemy==2.4.1
flask==1.1.1
gevent==1.3.6
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
gunicorn==19.9.0
itsdangerous==1.1.0
jinja2==2.10.3
lxml==4.4.1
markupsafe==1.1.1
pyjwt==1.6.4
pymysql==0.9.3
python-dateutil==2.8.0
raven==6.7.0
sentry-sdk==0.9.1
six==1.12.0
sqlalchemy==1.3.8
urllib3==1.25.6
werkzeug==0.16.0
