-i https://pypi.org/simple/
attrdict==2.0.1
autorepr==0.3.0
beautifulsoup4==4.9.2
blinker==1.4
certifi==2020.12.5
click==7.1.2
feedgen==0.9.0
flask-caching==1.9.0
flask-login==0.5.0
flask-sqlalchemy==2.4.4
flask==1.1.2
gevent==20.12.0
greenlet==0.4.17 ; platform_python_implementation == 'CPython'
gunicorn==20.0.4
itsdangerous==1.1.0
jinja2==2.11.2
lxml==4.6.2
markupsafe==1.1.1
pyjwt==1.7.1
pymysql==0.10.1
python-dateutil==2.8.1
pytz==2020.1
raven==6.10.0
sentry-sdk==0.18.0
six==1.15.0
soupsieve==2.1 ; python_version >= '3.0'
sqlalchemy==1.3.19
urllib3==1.26.2
werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
