<header>
    <div>
        <h1>  <a href="/">{{ settings.blog_title }}</a></h1>
        {{ settings.blog_desc | safe }}
    </div>
    <nav>
        <p>
            <a href="/">Home</a>
            <a href="https://www.notion.so/ash84/me-74b5672978464fa899e34ebe6510b859">About</a>
            <a href="/tag/dev">Dev</a>
            <a href="/tag/essay">Essay</a>
            <a href="https://github.com/AhnSeongHyun">GitHub</a>
            <a href="https://twitter.com/sh84ahn">Twitter</a>
        </p>
    </nav>
</header>
