<header>
    <div>
        <h1>
            <a href="/">{{ settings.blog_title }}</a>
        </h1>
        <div style="color: #797575">
        {{ settings.blog_desc | safe }}
        </div>
    </div>
    <nav>
        <p>
            <a href="/">🏠</a>
            <a href="/tag/essay">Essay</a>
            <a href="/tag/dev">Developer</a>
            <a href="/tag/startup">Startup</a>
            <a href="/tag/retrospective">Retro</a>
            <a href="?sort=random">🎲</a>
        </p>
    </nav>
</header>
