<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '/themes/zen_tree/head.html' %}
</head>
<body class="font">
    {% include '/themes/zen_tree/header.html' %}
<div class="content">
    <div class="notification">{{ notifications[0].content }}</div>
    <div class="sort">
        <a href="?sort=create_date_desc">created desc</a>
        |
        <a href="?sort=update_date_desc">updated desc</a>
        |
        <a href="?sort=random">🎲</a>
    </div>
    <ul class="blog-posts">
    {% for post in post_list %}
        <li>
            <span>{{ post.created_at }}</span>
            <a href="{{ post.link }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
</body>
<script>
    document.addEventListener('keydown', (event) => {
        // key
        if (event.ctrlKey && event.key === 'r') {
            moveRandomPostURL();
            return false;
        }
    });
</script>

</html>
