<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '/themes/zen_tree/head.html' %}
</head>
<body class="font">
{% include '/themes/zen_tree/detail_header.html' %}
<div class="content">
    <h1>{{ post.title }}</h1>
    <div style="text-align: right">
        <small>created:{{ post.created_at }}</small>
    </div>
    <div style="text-align: right">
        <small>updated:{{ post.modified_at }}</small>
    </div>
    <div style="text-align: right">
        <a href="/admin/writer?post_id={{ post.id }}">edit</a>
    </div>

    {% if post.featured_image %}
        <img src="{{ post.featured_image }}" alt="">
    {% endif %}

    <div class="blog-post">
        {{post.html | safe}}
    </div>

    <hr/>
    <div>
        {% for tag in tag_list %}
            <a href="/tag/{{tag}}">#{{ tag }}</a>&nbsp;
        {% endfor %}
    </div>

    <script src="https://utteranc.es/client.js"
            repo="ash84-io/utterances-ash84"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
    <script>
        document.addEventListener('keydown', (event) => {
            // key
            if (event.ctrlKey && event.key === 'r') {
                moveRandomPostURL();
                return false;
            }
        });
    </script>
</div>
</body>
</html>
