<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ blog_title }}</title>
    <style>
    .blog-title{
        text-decoration: none;
    }
</style>
</head>
<body>
<header>
    <h1 class="blog-title">
        <a href="/">{{ blog_title }}</a>
    </h1>
    <h5>{{ blog_desc }}</h5>
</header>

<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
<p>{{ post_tag }}</p>
<h4>{{ post.created_at }} | {{ post.modified_at }}</h4>
<div class="article">
{{ post.content | safe }}
</div>


<footer>
테스트
</footer>
</body>
</html>