<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog_title }}</title>
</head>
<body>
<header>
    <h1>
        <a href="/">{{ blog_title }}</a>
    </h1>
    <h5>{{ blog_desc }}</h5>
</header>

{% for post in post_list %}
    <div class="post-list">
        <a href="{{ post.link }}">{{ post.title }}</a>
    </div>
{%  endfor %}

<nav class="pagination">
{% if has_prev %}
	<a class='next' href="{{ prev }}">PREV</a>
{% endif %}
{% if has_next %}
	<a class="prev" href="{{ next }}">NEXT</a>
{% endif %}
</nav>

<footer>
</footer>
</body>
</html>
