<div class="logo">
    <a href="/admin" class="simple-text logo-mini">
        {{ blog_title }}
    </a>
    <a href="/admin" class="simple-text logo-normal">
        {{ user_name  }}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active">
            <a href="/admin/dashboard">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="/admin/contents">
                <i class="now-ui-icons education_atom"></i>
                <p>Contents</p>
            </a>
        </li>
        <li>
            <a href="/admin/writer">
                <i class="now-ui-icons location_map-big"></i>
                <p>Writer</p>
            </a>
        </li>
        <li>
            <a href="/admin/settings">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>Settings</p>
            </a>
        </li>
        <li>
            <a href="/admin/users">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
</div>