{% extends "/admin/layout.j2" %}

{% block css_section %}
    <link href="{{ url_for('static', filename='css/tui/pagination/tui-pagination.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/tui/grid/tui-grid.min.css') }}" rel="stylesheet" />
{% endblock css_section %}

{% block content_section %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Draft</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Posts</h4>
                </div>
                <div class="card-body">
                    <div id="grid"></div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascript_section %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="{{ url_for('static', filename='js/tui/code-snippet/tui-code-snippet.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tui/pagination/tui-pagination.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tui/datepicker/tui-date-picker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tui/grid/tui-grid.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/contents/contents.js') }}" type="text/javascript"></script>


{% endblock %}