<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ blog_title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
</head>
<body class="home-template">

    <!-- navigation -->
	<nav id="menu">
        <a class="close-button">Close</a>
        <div class="nav-wrapper">
            <p class="nav-label">Menu</p>
            <ul>
                <li class="nav-home active" role="presentation"><a href="/">Home</a></li>
                <li class="nav-author" role="presentation"><a href="https://attila.zutrinken.com/author/zutrinken/">Author</a></li>
                <li class="nav-twitter"><a href="https://twitter.com/sh84ahn" title="@sh84ahn"><i class="ic ic-twitter"></i> Twitter</a></li>
                <li class="nav-facebook"><a href="https://www.facebook.com/sh84ahn" ><i class="ic ic-facebook"></i> Facebook</a></li>
                <li class="nav-rss"><a href="/rss"><i class="ic ic-rss"></i> Subscribe</a></li>
            </ul>
        </div>
    </nav>
    <!-- navigation -->

	<section id="wrapper">
		<a class="hidden-close"></a>
		<header id="blog-header">
            <div class="inner">
                <nav id="navigation">
                    <span id="menu-button" class="nav-button">
                        <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
                    </span>
                </nav>
                <h1 class="blog-name"><a href="/">{{ blog_title }}</a></h1>
                <span class="blog-description">{{ blog_desc }}</span>
            </div>
        </header>
        <div id="index" class="container">
	        <main class="content" role="main">
                {% for post in post_list %}
                <article class="post tag-general">
                    <div class="inner">
                        <header class="post-header">
                            <h2 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
                            <span class="post-meta">{{ blog_title}}   | <time datetime="{{ post.created_at }}">{{ post.created_at }}</time></span>
                            <div class="clear"></div>
                        </header>
                        <section class="post-excerpt">
                            <p>{{ post.content[:300] }}&hellip;</p>
                        </section>
                    </div>
                </article>
                {%  endfor %}
            </main>
        </div>
   </section>
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>
