{% extends "/admin/layout.j2" %}

{% block css_section %}
    <link href="{{ url_for('static', filename='lib/tui-pagination/dist/tui-pagination.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='lib/tui-grid/dist/tui-grid.min.css') }}" rel="stylesheet" />
    <style>
        .search {
            margin-bottom: 10px;
        }
    </style>
{% endblock css_section %}

{% block content_section %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Draft<span id="draft-count"></span></h4>
                </div>
                <div class="card-body">
                    <div  id="vue-draft-section" >
                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" v-on:click="deleteDraft" id="draft-delete">삭제</button>
                        </div>
                        <input type="text" value="" class="form-control search"  v-on:keyup.enter="searchDraft"  v-model="q" placeholder="Search...">
                    </div>
                    <div id="draft-grid"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Posts<span id="posts-count"></span></h4>
                </div>
                <div class="card-body" >
                    <div id="vue-posts-section">
                        <div class="btn-group float-right"   role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"  v-on:click="deletePosts" id="posts-delete">삭제</button>
                        </div>

                        <input type="text" value="" class="form-control search" v-on:keyup.enter="searchPosts" v-model="q" placeholder="Search...">
                    </div>
                    <div id="content-grid"></div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascript_section %}
    <script src="{{ url_for('static', filename='lib/underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/backbone/backbone-min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tui-code-snippet/dist/tui-code-snippet.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tui-pagination/dist/tui-pagination.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tui-grid/dist/tui-grid.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/contents/contents.js') }}" type="text/javascript"></script>
{% endblock %}