name: CI

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        apt-get update && apt-get install -y gcc make  build-essential
        pip install -U pip setuptools wheel
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: CHECK
      run: |
        make check
